.App {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    padding: 0 320px;
}

@media screen and (max-width: 1600px) {
    .main {
        padding: 0 40px;
    }
}