.feed {
  padding: 0 12rem;
}

.feed__title {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4rem;
  display: flex;
  align-items: center;
  margin: 3rem 0;
}

.feed__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
}

.feed__block__orders {
  height: 80rem;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed__block::-webkit-scrollbar {
  background: #2f2f37;
  height: 5px;
  width: 1rem;
}

.feed__block::-webkit-scrollbar-thumb {
  background: #8585ad;
  height: 200px;
  width: 1rem;
}

