.modal__container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: all 0.5s ease;
}

.modal__container__disabled {
  opacity: 0;
  overflow: hidden;
  top: 0;
  position: absolute;
  z-index: -100;
}

.modal {
  width: 100%;
  max-width: 110rem;
  background: #1c1c21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.button__close {
  position: absolute;
  right: 40px;
  top: 60px;
  cursor: pointer;
}