.header {
  height: 10rem;
  background: #1c1c21;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 0 4rem;
  margin-bottom: 3rem;
}

.header__buttons {
  display: flex;
  align-items: center;
  column-gap: 4rem;
}

.header__nav__container {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.4;
  display: flex;
  align-items: center;
  color: #f2f2f3;
  height: 5.6rem;
  column-gap: 0.8rem;
  cursor: pointer;
}
